.time-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: row;
}

.best-time {
    text-align: center;
    padding: 5px 10px;
    font-size: 20px;
    width: fit-content;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
}

.timer {
    background-color: #ffffff3a;
    border-radius: 10px;
    padding: 5px 0px;
    font-size: 35px;
    text-shadow: 1px 1px 1px black;
    width: 250px;
    max-width: 250px;
    height: fit-content;
    outline: 3px solid rgba(255, 255, 255, 0.493);
}