.flex-col {
    display: flex;
    flex-direction: column;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

input[type="radio"] {
    opacity: 0.4;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

input[type="radio"]:checked+label {
    font-weight: bold;
    color: rgb(7, 255, 110);
}

label {
    font-size: 20px;
}


.tooltip {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 9999;
    display: none;
}

.tooltip::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #333;
}

[data-tooltip] {
    position: relative;
    cursor: pointer;
}

[data-tooltip]:hover .tooltip {
    display: block;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

.show {
    display: block;
}

.hide {
    display: none;
}